<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="acct">
	<select id="selectIcList" resultType="map">
		select 
		    (select sum(salrealpay+saltax) from salary where salcheck='Y') as salaries,
		    (select sum(saltax) from salary where salcheck='Y') as saltax,
		    (select sum(sevpay) from severance) as severance,
		    (select sum(BTPROOM+BTPTRANSPORTATION+BTPENTERTAIN) from businessTripPay) as biztrip
		from dual
	</select>
	<!-- 월급 리스트 가져오기 -->
	<select id="selectEmpList" resultType="map">
		select salary.salno, employee.empno, employee.empname, empjob.jobname, department.DEPTNAME, 
		(select sum(salrealpay+saltax) from salary) as salaries, to_char(salary.saldate, 'mm/dd/yyyy')as saldate, salary.SALCHECK 
			from employee
			    inner join salary on employee.empno=salary.empno
			    inner join empjob on employee.jobno=empjob.jobno
			    inner join department on employee.deptno=department.deptno order by saldate desc
	</select>
	<select id="selectEmpCount" resultType="_int">
		select count(*) from salary
	</select>
	<!-- 월급 리스트 가져오기 끝-->
	<update id="updateWagePayment" parameterType="_int">
		update salary set salcheck = 'Y' where salno=#{salno}
	</update>
	
	
	<!-- severance -->
	<select id="selectSevList" resultType="map">
		select 
		    employee.empno, employee.empname, employee.empsal,
		    to_char(employee.emphiredate, 'mm/dd/yyyy')as hiredate, 
		    department.deptname, empjob.jobname,
		    employee.empentyn as empentyn, 
		    to_char(severance.sevdate, 'mm/dd/yyyy')as sevdate, severance.sevno 
		    from employee 
		        join severance on employee.empno=severance.empno
		        join empjob on employee.jobno=empjob.jobno
		        join department on employee.deptno=department.deptno
	</select>
	<select id="selectSevCount" resultType="_int">
		select count(*) from severance
	</select>
	
	<update id="updateSeveranceStatus" parameterType="map">
		update severance
		    set
		        severance.sevpay=#{amt},
		        severance.sevdate=sysdate
		        where empno=#{empno}
	</update>
	
	<update id="updateEmployeeStatus" parameterType="map">
		update employee
			set
				employee.empentdate=sysdate,
				employee.empentyn='Y'
					where empno=#{empno}
	</update>
	
	<!-- biztrip -->
	<select id="selectBizTripList" resultType="map">
		select * from businessTrip
	</select>
	<select id="selectBizTripCount" resultType="_int">
		select count(*) from businessTrip
	</select>
</mapper>


<!-- 
퇴직한 사람들 보여주기

select 
		    severance.sevno, employee.empno, employee.empname,
		    to_char(severance.sevdate, 'mm/dd/yyyy')as sevdate, 
		    severance.sevcheck from employee
		        inner join severance on employee.empno=severance.empno

 -->
