<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendar">
 	<insert id="insertCalendar" parameterType="map">
 		insert into Schedule values (seq_schNo.nextval, #{title}, #{description}, #{start}, #{end}, #{type}, #{username}, #{backgroundColor}, #{textColor} , #{allDay})
 	</insert>
 	<select id = "selectCalendarEmpNo" parameterType="map" resultType="calendar">
 		select * from schedule where "username" = #{username}
 	</select>
 	
 	<select id = "selectCalendarCount" parameterType = "map" resultType = "_int">
 		SELECT COUNT(*) FROM SCHEDULE WHERE "username" = #{username}
 	</select>

</mapper>
