<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- Null 값이 발생할 경우 빈칸이 아닌 null로 인식하라 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<!-- <typeAlias type="com.kh.spring.demo.model.vo.Dev" alias="dev"/> -->

		<typeAlias type="com.spring.bm.notice.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.spring.bm.notice.model.vo.UploadNotice" alias="upNotice"/>
		<typeAlias type = "com.spring.bm.stuff.model.vo.Stuff" alias = "stuff"/>
		<typeAlias type = "com.spring.bm.stuff.model.vo.StuffMaincategory" alias = "maincategory"/>
		<typeAlias type = "com.spring.bm.stuff.model.vo.StuffSubcategory" alias = "subcategory"/>
		<typeAlias type = "com.spring.bm.stuff.model.vo.StuffUpload" alias = "stuffupload"/>	
		<typeAlias type = "com.spring.bm.employee.model.vo.EmpFile" alias = "empFile"/>	
		<typeAlias type = "com.spring.bm.connection.model.vo.Connection" alias = "connection"/>

	</typeAliases>

</configuration>
