<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace = "stuff">
	<select id = "maincategoryList" resultType = "maincategory">
		SELECT * FROM STUFF_MAINCATEGORY
	</select>
	
	<select id = "subcategoryList" parameterType="_int" resultType = "subcategory">
		SELECT * FROM STUFF_SUBCATEGORY WHERE MCNO = #{mcNo}
	</select>
	
	<insert id = "stuffEnroll" parameterType = "map">
		INSERT INTO STUFF VALUES(SEQ_STUFF.NEXTVAL, #{stuffName}, #{price} * 10000, #{stuffCount}, #{weight}, #{size1}, #{size2}, #{size3}, #{manufacturer}, #{manufacturingDate}, #{manufacturingCountry}, #{color}, #{material}, #{etc}, #{stuffStatus}, SYSDATE, (SELECT SCNO FROM STUFF_SUBCATEGORY WHERE SCNAME = #{stuffSub}))
		<selectKey keyProperty="stuffNo" resultType = "string" order = "AFTER">
			SELECT SEQ_STUFF.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id = "insertStuffImge" parameterType="stuffupload">
		INSERT INTO STUFF_UPLOAD VALUES (SEQ_STUFF_UPLOAD.NEXTVAL, #{imgOriname}, #{imgRename}, #{stuffNo}, DEFAULT)
	</insert>
	
	<select id = "selectStuffList" resultType = "stuff">
		SELECT A1.* , B1.SCNAME FROM STUFF A1 , STUFF_SUBCATEGORY B1 WHERE A1.SCNO = B1.SCNO ORDER BY A1.STUFFNO ASC
	</select>
	
	<select id = "selectBoardCount" resultType="_int">
		SELECT COUNT(*) FROM STUFF
	</select>
	
	<select id = "stuffSeeMore" parameterType="_int" resultType = "stuff">
		SELECT * FROM STUFF WHERE STUFFNO = #{stuffNo}
	</select>
	
	<select id = "stuffScName" parameterType="_int" resultType="subcategory">
		SELECT SCNAME FROM STUFF_SUBCATEGORY WHERE SCNO = #{scNo}
	</select>
	
	<select id = "stuffNameDupliCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM STUFF WHERE STUFFNAME = #{stuffName}
	</select>
	
	<select id = "selectStuffSearchList1" parameterType="map" resultType = "stuff">
		SELECT * FROM STUFF WHERE STUFFNAME = #{data}
	</select>
	
	<select id = "selectStuffSearchList2" parameterType="map" resultType="stuff">
		SELECT * FROM STUFF WHERE SCNO = (SELECT SCNO FROM STUFF_SUBCATEGORY WHERE SCNAME = #{data})
	</select>
	
	<select id = "selectStuffSearchList3" parameterType="map" resultType="stuff">
		SELECT * FROM STUFF WHERE MANUFACTURER = #{data}
	</select> 
	
	<select id = "selectStuffSearchCount1" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM STUFF WHERE STUFFNAME = #{data}
	</select>
	
	<select id = "selectStuffSearchCount2" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM STUFF WHERE SCNO = (SELECT SCNO FROM STUFF_SUBCATEGORY WHERE SCNAME = #{data})
	</select>
	
	<select id = "selectStuffSearchCount3" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM STUFF WHERE MANUFACTURER = #{data}
	</select>
</mapper>


