<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="apv">
	<!--  -->
	<!-- 결재양식 등록-->
	<insert id="insertApvDoc" parameterType="map">
		INSERT INTO DOCFORM VALUES(seq_docForm.NEXTVAL, #{dfTitle},#{dfHeadForm},#{dfContentForm},#{dfExp},#{dcNo})
	</insert>

	<!-- 결재 양식 등록 뷰 호출 -->
	<select id="selectDocCate" resultType="map">
		SELECT * FROM DOCCATE
	</select>
	<select id="selectDocForm" resultType="map">
		SELECT * FROM DOCFORM JOIN DOCCATE USING (DCNO) ORDER BY DFNO DESC
	</select>
	<select id="selectDocCCate" resultType="map">
		SELECT * FROM DOCFORMCONTENT
	</select>
	<select id="selectDocHCate" resultType="map">
		SELECT * FROM DOCFORMHEADER
	</select>
	<select id="selectDfCount" resultType="_int">
		SELECT COUNT(*) FROM DOCFORM
	</select>
	
	<!-- 결재 양식 수정 뷰 호출 -->
	<resultMap id="dfModiClobMap" type="map">
		<result property="DFHEADFORM" column="DFHEADFORM" jdbcType="CLOB" javaType="java.lang.String" />
		<result property="DFCONTENTFORM" column="DFCONTENTFORM" jdbcType="CLOB" javaType="java.lang.String" />
	</resultMap>
	<select id="selectDfModi" parameterType="_int" resultType="map" resultMap="dfModiClobMap">
		SELECT * FROM DOCFORM WHERE DFNO=#{dfNo}
	</select>
	<!-- 결재 양식 수정 저장-->
	<update id="updateApvDoc" parameterType="map">
		UPDATE DOCFORM SET DCNO=#{dcNo},DFTITLE=#{dfTitle},DFEXP=#{dfExp},DFHEADFORM=#{dfHeadForm},DFCONTENTFORM=#{dfContentForm} WHERE DFNO=#{dfNo}
	</update>
	<!-- 결재 양식 삭제 -->
	<delete id="deleteApvDoc" parameterType="_int">
		DELETE FROM DOCFORM WHERE DFNO=#{dfNo}
	</delete>
	
	<!-- 결재폼 양식 등록 -->
	<insert id="insertApvDocHead" parameterType="map">
		INSERT INTO DOCFORMHEADER VALUES(SEQ_DOCFORMHEADER.NEXTVAL,#{dfhTitle},#{dfHeadForm})
	</insert>
	
	<!-- 본문양식 등록 -->
	<insert id="insertApvDocContent" parameterType="map">
		INSERT INTO DOCFORMCONTENT VALUES(SEQ_DOCFORMCONTENT.NEXTVAL,#{dfcTitle},#{dfContentForm})
	</insert>
	
	<!-- 결재폼 양식 불러오기 -->
	<resultMap id="dfhClobMap" type="map">
		<result property="DFHCONTENT" column="DFHCONTENT" jdbcType="CLOB" javaType="java.lang.String" />
	</resultMap>
	<select id="selectDfhContent" parameterType="_int" resultType="map" resultMap="dfhClobMap" >
		SELECT * FROM DOCFORMHEADER WHERE DFHNO=#{no}
	</select>
	
	<!-- 본문 양식 불러오기 -->
	<resultMap id="dfcClobMap" type="map">
		<result property="DFCCONTENT" column="DFCCONTENT" jdbcType="CLOB" javaType="java.lang.String" />
	</resultMap>
	<select id="selectDfcContent" parameterType="_int" resultType="map" resultMap="dfcClobMap" >
		SELECT * FROM DOCFORMCONTENT WHERE DFCNO=#{no}
	</select>
	
	<!--  -->
	<!-- 결재라인 -->
	<select id="selectDeptList" resultType="map">
		SELECT * FROM DEPARTMENT ORDER BY DEPTNO
	</select>
	
	<select id="selectMyApvLineList" parameterType="_int" resultType="map">
		SELECT * FROM APVLINE ORDER BY APVLNO DESC
		<!-- WHERE APVLCATENO=#{loginNo} AND APVLCATE='개인' -->
	</select>
	
	<select id="selectMyALCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM APVLINE
		 <!-- WHERE APVLCATENO=#{loginNo} AND APVLCATE='개인' -->
	</select>
	
	<select id="selectDeptToEmp" parameterType="_int" resultType="map">
		SELECT * FROM EMPLOYEE E JOIN DEPARTMENT D ON E.DEPTNO=D.DEPTNO JOIN EMPJOB J ON E.JOBNO=J.JOBNO WHERE E.DEPTNO=#{deptNo}
	</select>
	
	<!-- 결재라인 양식 등록 로직 -->
	
	<insert id="insertApvLine" parameterType="map">
		<selectKey keyProperty="apvlNo" resultType="string"
			order="AFTER">
			SELECT SEQ_APVLINE.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO APVLINE VALUES(SEQ_APVLINE.NEXTVAL,#{apvLTitle},null,'개인',null)
	</insert>
			<!-- 이건 수정할때도 재사용됨-->
	<insert id="insertApvlApplicant" parameterType="hashmap">
		INSERT INTO APVLAPPLICANT VALUES(SEQ_APVLAPPLICANT.NEXTVAL,#{priorNo},#{empNo},#{apvlNo})
	</insert>
	
	<!-- 결재라인 삭제 -->
	<delete id="deleteApvlApplicant" parameterType="_int">
		DELETE FROM APVLAPPLICANT WHERE APVLNO=#{alNo}
	</delete>
	<delete id="deleteApvLine" parameterType="_int">
		DELETE FROM APVLINE WHERE APVLNO=#{alNo}
	</delete>
	
	<!-- 결재라인 수정 뷰 호출-->
	<select id="selectALModi" parameterType="_int" resultType="map">
		SELECT * FROM APVLINE WHERE APVLNO=#{alNo}
	</select>
	<select id="selectALApplicants" parameterType="_int" resultType="map">
		SELECT A.*,E.EMPNO,E.EMPNAME,D.DEPTNO,D.DEPTNAME,J.JOBNO,J.JOBNAME FROM APVLAPPLICANT A JOIN EMPLOYEE E ON A.EMPNO=E.EMPNO JOIN DEPARTMENT D ON E.DEPTNO=D.DEPTNO JOIN EMPJOB J ON E.JOBNO=J.JOBNO WHERE A.APVLNO=#{alNo} ORDER BY APVAPRIOR ASC
	</select>
	
	<!-- 결재라인 수정 로직-->
	<update id="updateApvLine" parameterType="map">
		UPDATE APVLINE SET APVLTITLE=#{apvLTitle} WHERE APVLNO=#{apvlNo} 
	</update>
	<delete id="deleteApvlApplicants" parameterType="map">
		DELETE FROM APVLAPPLICANT WHERE APVLNO=#{apvlNo}
	</delete>
	
	<!-- 기안하기 등록 뷰 호출 -->
	<select id="selectEmpInfoAll" parameterType="map" resultType="map">
		SELECT * FROM EMPLOYEE E JOIN DEPARTMENT D ON E.DEPTNO=D.DEPTNO JOIN EMPJOB J ON E.JOBNO=J.JOBNO WHERE EMPNO=#{EMPNO}
	</select>
	
</mapper>